.main {
  padding-left: 20vmin;
  display: flex;
  align-items: center;
  background-image: url('../images/main-bg.webp');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-color: $color-34;
  min-height: 100%;

  @media (max-width: $md) {
    background-image: url('../images/main-bg_mobile.webp');
    padding-left: 10vmin;
    padding-right: 10vmin;
    justify-content: center;
  }
}

.main__inner {
  max-width: 110vmin;

  @media (max-width: $md) {
    flex: 1 1;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80vh;
    justify-content: space-between;
  }
}

.main__text {
  color: var(--White, #FFF);
  font-family: "IQOS-Bold";
  font-size: 8vmin;
  font-style: normal;
  line-height: 1.1;
  letter-spacing: 0.72px;
  margin-bottom: 12vmin;

  @media (max-width: $md) {
    text-align: center;
  }
}

.main__timer-block {
  @media (max-width: $md) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.main__description {
  color: var(--White, #FFF);
  font-family: "IQOS-Regular";
  font-size: 4vmin;
  font-style: normal;
  line-height: 1.2;
  margin-bottom: 3vmin;

  @media (max-width: $md) {
    margin-bottom: 0;
    font-size: 5vmin;
    text-align: center;
  }
}

.main__timer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 50vmin;
  height: 12vmin;
  padding: 2vmin 3vmin;

  color: var(--White, #FFF);
  text-align: center;
  font-family: "IQOS-Bold";
  font-size: 6vmin;
  line-height: 1;

  border-radius: 26px;
  background: #00A1E5;
}